@import 'mediaq'
@import 'variablesok'

#logo
  font-family: Economica
  letter-spacing: 0.1vw
  padding-top: 5px
  margin-left: -30px
  font-size: 4.5vw
  @media #{$tablet}
    font-size: 5vw
  @media #{laptop-up}
    padding-left: 30px
  // @media #{$laptop-up}
  //   font-size: 4.5vmin

.nav-style
  float: right
  padding: 2vh 0vw 0 0.6vw
  @media #{$phone}
    margin-left: 2vw
  @media #{$tablet-up}
    padding: 2vh 1vw 0 1vw
  a
    color: black
    font-size: 2vw
    font-family: Verdana
    @media #{$tablet-up}
      font-size: 1.8vw
    &:link, &:active
      list-style-type: none
      text-decoration: none

nav ul li
  display: inline-block
  text-decoration: none
  a
    font-size: 2px
    a:hover
      font: 1px Ariel thick
      font-weight: bold
      text-decoration: none

#cart-icon
  margin-top: -0.5vh
  padding-right: 2vw
  font-size: 3vw
  color: #{$marroon}
  border: none

.simpleCart_quantity
  color: #fff
  font-size: 2vw
  background-color: #650303
  position: absolute
  top: 1%
  left: 97%
  transform: translate(10%, -10%)
  padding: 1vw
  //3px 7px
  border-radius: 100%
  // @media #{$phones}
  //   left: 97%
  @media #{$tablet}
    left: 97%
    font-size: 1.5vw
  @media #{$laptop-up}
    left: 96%
    font-size: 1vw
