#logo {
  font-family: Economica;
  letter-spacing: 0.1vw;
  padding-top: 5px;
  margin-left: -30px;
  font-size: 4.5vw; }
  @media screen and (min-width: 600px) and (max-width: 900px) {
    #logo {
      font-size: 5vw; } }
  @media laptop-up {
    #logo {
      padding-left: 30px; } }

.nav-style {
  float: right;
  padding: 2vh 0vw 0 0.6vw; }
  @media screen and (min-width: 0px) and (max-width: 380px) {
    .nav-style {
      margin-left: 2vw; } }
  @media screen and (min-width: 600px) {
    .nav-style {
      padding: 2vh 1vw 0 1vw; } }
  .nav-style a {
    color: black;
    font-size: 2vw;
    font-family: Verdana; }
    @media screen and (min-width: 600px) {
      .nav-style a {
        font-size: 1.8vw; } }
    .nav-style a:link, .nav-style a:active {
      list-style-type: none;
      text-decoration: none; }

nav ul li {
  display: inline-block;
  text-decoration: none; }
  nav ul li a {
    font-size: 2px; }
    nav ul li a a:hover {
      font: 1px Ariel thick;
      font-weight: bold;
      text-decoration: none; }

#cart-icon {
  margin-top: -0.5vh;
  padding-right: 2vw;
  font-size: 3vw;
  color: #3e1518;
  border: none; }

.simpleCart_quantity {
  color: #fff;
  font-size: 2vw;
  background-color: #650303;
  position: absolute;
  top: 1%;
  left: 97%;
  transform: translate(10%, -10%);
  padding: 1vw;
  border-radius: 100%; }
  @media screen and (min-width: 600px) and (max-width: 900px) {
    .simpleCart_quantity {
      left: 97%;
      font-size: 1.5vw; } }
  @media screen and (min-width: 901px) {
    .simpleCart_quantity {
      left: 96%;
      font-size: 1vw; } }

table {
  border-spacing: 2vw;
  margin: 0 auto; }

th {
  padding: 0vh 1vw 1vh 1vw; }

td {
  padding: 2vh 0vw 2vh 0vw;
  border-bottom: grey 1px solid;
  font-size: 3vmin; }

.item-thumb img {
  width: 10vw; }

.item-name {
  padding-right: 4vw;
  padding-left: 3vw; }

.item-quantity {
  padding-left: 1vw; }

.item-price {
  padding-right: 5vw; }

.item-total {
  padding-left: 4vw;
  position: relative; }

.item-remove {
  padding: 0 2vw 0 2vw;
  color: red; }
  .item-remove a {
    color: grey;
    font-weight: 700;
    text-decoration: none; }

.simpleCart_items table .item-decrement, .simpleCart_items table .item-increment {
  padding: 0 -40px 0 -60px; }

#totalFloat {
  position: absolute;
  left: 66.1vw;
  font-weight: 700;
  margin-top: 3vh;
  font-size: 3.9vmin;
  text-align: center;
  font-family: Times New Roman; }

#checkout-btn {
  position: relative;
  margin: 6vh 0 2vh 27vw;
  border-radius: 15px 50px 50px 15px;
  text-decoration: none;
  background-color: #B70000;
  border: none;
  padding: 9px 13px 8px 17px; }
  #checkout-btn a {
    font: 2vmin Verdana;
    text-decoration: none;
    color: white;
    font-weight: 700; }

.clearfix {
  overflow: hidden; }

h1 {
  text-align: center;
  font: 5vmin Verdana black;
  padding: 5vh 0 2vh 0; }

.headerRow {
  background-color: #080808;
  color: #fff;
  font-family: Times New Roman;
  font-size: 3.5vmin; }

/*# sourceMappingURL=shoppingcart.css.map */
